body{
    font-family: "Cormorant Garamond", serif;
    background-image: url(../5578661.jpg);
    background-size: cover;
    background-position: center center;
}
h1{
    font-size: 70px;
    font-weight: 300;
    color: rgb(25, 175, 230);
}
p{
    font-size: 30px;
}
.section{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    width: 70%;
    
}
button{
    background-color: rgb(25, 175, 230);
    border: none;
    color: white;
    width: 15%;
    font-size: 20px;
    font-weight: 800;
    transition: all 1s;
}
button:hover{
    background-color: white;
    border: 1px solid rgb(25, 175, 230);
    color: rgb(25, 175, 230);
}